/* .password{
    background-image: url('process.env.REACT_APP_CONTEXT_PATH/assets/icons/hide.PNG');
} */

.eye{
    position: absolute;
    right: 2rem;
    width: 3rem;
}

.input:focus-visible{
    outline: none;
    border-bottom: 1px solid gray;
}

.input{
    border-bottom: 1px solid gray;
}